<%- include('header') %>
  <div class="container">
    <!-- Titre -->
    <div class="row d-flex justify-content-center text-center">
      <div class="col-xl-12 col-md-12 mt-3">
        <div class="card">
          <div class="card-body">
            <h1 class="">Pharmacie Sautheuhz</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- Chart 6 prochains mois -->
    <div class="row mt-3">
      <div class="col-xl-12 col-md-12 mt-3">
        <div class="card">
          <div class="card-body titreChart">
            <h5 class="card-title">Stock à prevoir pour les 6 prochain mois</h5>
          </div>
          <canvas id="myChart" class="m-3"></canvas>
        </div>
      </div>
    </div>

    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var borderColor =  [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ]
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: <%- JSON.stringify(prochainMois) %>,
          datasets: [
          <% test.forEach(function(unMed, i){ %>
            {
            label: '<%- test[i][1] %>',
            data: [<%- test[i][0] %>],
            borderColor: borderColor[<%- i %>],
            borderWidth: 1,
            tension: 0.1
          },
          <% })%>
          ]
        },
        options: {
          plugins: {
            legend: {
              display: true,
              position: 'bottom',
              align: 'start'
            }
          }
        }
      });
    </script>

    <!-- Chart stock -->
    <div class="row">
      <div class="col-xl-6 col-md-12 mt-5">
        <div class="card">
          <div class="card-body titreChart">
            <h5 class="card-title">Stock effectif des médicaments</h5>
          </div>
          <canvas id="myChart3" class="m-3"></canvas>
        </div>
      </div>

      <script>
        var ctx = document.getElementById('myChart3').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: <%- JSON.stringify(lesMeds) %>,
            datasets: [{
              label: 'Stock effectif',
              data: <%- [lesStockEffectif] %>,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
              ],
              borderWidth: 1
            }],
          },
          options: {
            indexAxis: 'y',
            responsive: true,
            plugins: {
              legend: {
                display: false,
                position: 'bottom',
                align: 'start'
              }
            }
          }
        });
      </script>

      <!-- Chart part pathologies -->
      <div class="col-xl-6 col-md-12 mt-5">
        <div class="card">
          <div class="card-body titreChart">
            <h5 class="card-title">Part des pathologies par ordonnance</h5>
          </div>
          <canvas id="myChart2" class="m-3"></canvas>
        </div>
      </div>

      <script>
        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: <%- JSON.stringify(lesPath) %>,
            datasets: [{
              data: <%- lesDonnesPaths %>,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            plugins: {
              legend: {
                display: true,
                position: 'bottom',
                align: 'start'
              }
            }
          }
        });
      </script>
    </div>
  </div>
  <%- include('footer') %>